<app-nav-bar></app-nav-bar>

<div class="movie-view" style="display: flex">
  <mat-card *ngFor="let movie of movies; let i = index" style="flex: 1 1 auto">

    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image class="cardStyle" src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button class="GenreBtn" mat-raised-button style="color:white; background:black; float: left;"
        (click)="openDirectorDialog(movie.Director)">
        {{ movie.Director.Name }}
      </button>
      <button class="bookMarkStyle" (click)="toggleFavorite(movie._id)" mat-button color="primary">
        <mat-icon *ngIf="!isFavorite(movie._id)">favorite_border</mat-icon>
        <mat-icon *ngIf="isFavorite(movie._id)" color="warn">favorite</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-actions>
      <button class="GenreBtn" mat-raised-button style="color:white; background:black"
        (click)="openGenreDialog(movie.Genre)">
        {{ movie.Genre.Name }}
      </button>
    </mat-card-actions>
    <mat-card-actions>
      <button class="GenreBtn" (click)="openDescriptionDialog(movie)" mat-raised-button
        style="color:white; background:black">
        Synopsis
      </button><br>
    </mat-card-actions>
  </mat-card>
</div>