<mat-card class="login-dialog">
  <mat-card-header>
    <mat-card-title>Sign in to your MyFlix Account </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="userData.Name" type="text" name="Name" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="userData.Password" type="password" name="Password"
          required />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="color:white; background:#00333b" (click)="loginUser()">
      <mat-icon>login</mat-icon> Login
    </button>
  </mat-card-actions>
</mat-card>