$specialBlueColor: #00333b;
$textOnSpecialBlueColor: #ffffff;
$backgroundColor: #fff;
$buttonTextColor: #fff;
$textColor: #ffffff;
$boxShadowColor: #104c5487;

$backgroundColor: #f8f9fa;

.navbar {
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
  margin-bottom: 20px;
  background: $specialBlueColor;
  color: white;
}